[submodule "qt/lib/game/googletest"]
	path = qt/lib/game/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/game/googletest"]
	path = lib/game/googletest
	url = https://github.com/google/googletest.git
